@keyframes loading-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes loading-2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(145deg);
    }
}

@keyframes loading-3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(130deg);
    }
}

@keyframes loading-4{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(160deg);
    }
}

@keyframes loading-5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(126deg);
    }
}