@mixin before($top, $left, $right: auto, $bottom: auto){
	content: '';
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}
@mixin flexWidth($procent) {
    flex: 0 0 $procent;
    width: $procent;
    max-width: $procent;
}