/* adaptive */
$adapt_razvod_inf_title: 1800px;
$big-notebook: 1600px;
$bigpc: 1401px; 
$smallpc: 1400px; 
$container-min: 1301px;
$container: 1300px;
$laptop: 1199px; 
$ipad: 1024px; 
$tablet_min: 992px;
$tablet: 991px; 
$big-mobile-min: 768px;
$big-mobile: 767px; 
$s_mobile: 600px;
$mobile: 480px;

/* fonts */
$sans_font: "OpenSans";
$montserrat_font: "Montserrat";
/* colors */
$blue: #4f56a2;
$white: #fff;
$gray: #e1e0de;
$gray2: #6c6765;
$gray3: #a5a1a0;
$black: #363230;
$black2: #403c3a;
/*others*/
