/* adaptive */
$adapt_razvod_inf_title: 1800px;
$big-notebook: 1600px;
$bigpc: 1401px; 
$smallpc: 1400px; 
$container-min: 1301px;
$container: 1300px;
$laptop: 1199px; 
$ipad: 1024px; 
$tablet_min: 992px;
$tablet: 991px; 
$big-mobile-min: 768px;
$big-mobile: 767px; 
$s_mobile: 600px;
$mobile: 480px;

/* fonts */

/* colors */

/*others*/
